@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Tinos', serif;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar-down {
  -webkit-animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; /*webkit for chrome safari*/
  animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.sidebar-up {
  -webkit-animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; /*webkit for chrome safari*/
  animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade {
  -webkit-animation: fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; /*webkit for chrome safari*/
  animation: fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bgfade {
  -webkit-animation: bgfade 0.2s ease-in both; /*webkit for chrome safari*/
  animation: bgfade 0.2s ease-in both;
}

.bgfadeout {
  -webkit-animation: bgfadeout 0.2s ease-in both; /*webkit for chrome safari*/
  animation: bgfadeout 0.2s ease-in both;
}

.bgfadeyellow {
  -webkit-animation: bgfadeyellow 0.2s ease-in both; /*webkit for chrome safari*/
  animation: bgfadeyellow 0.2s ease-in both;
}

@-webkit-keyframes bgfadeyellow {
  0% {
    background: rgba(248, 250, 252, 0.2);
  }
  100% {
    background: #D4990D;
  }
}

@keyframes bgfadeyellow {
  0% {
    background: rgba(248, 250, 252, 0.2);
  }
  100% {
    background: #D4990D;
  }
}

@-webkit-keyframes bgfadeout {
  0% {
    background: #484848;
  }
  100% {
    background: transparent;
  }
}

@keyframes bgfadeout {
  0% {
    background: #484848;
  }
  100% {
    background: transparent;
  }
}

@-webkit-keyframes bgfade {
  0% {
    background: transparent;
  }
  100% {
    background: #484848;
  }
}

@keyframes bgfade {
  0% {
    background: transparent;
  }
  100% {
    background: #484848;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 184px;
  }
}

@keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 184px;
  }
}

@-webkit-keyframes slide-up {
  0% {
    height: 184px;
  }
  100% {
    height: 0;
  }
}

@keyframes slide-up {
  0% {
    height: 184px;
  }
  100% {
    height: 0;
  }
}
/* @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */
